body {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20%;
}

#score {
  grid-column-start: 2;
  grid-column-end: 3;
}

.container {
  font-size: 50px;
  grid-column-start: 2;
  grid-column-end: 4;
  border:  1px red solid;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  border: 10px gray solid;
  border-radius: 10px;
  margin: auto;
}

.grid div {
  width: 100px;
  height: 100px;
  background-color: darkgray;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}
